<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mission to Mars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        img {max-width: 100%; max-height: 100%}
        h1, h3, h4 {font-weight: bold}
    </style>
</head>

<body>

    <div class="container">
        <div class="jumbotron text-center">
            <h1 class="display-4">Mission to Mars</h1>
            <p class="header">
                <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a>
            </p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">            
                <h3>Latest Mars News</h3>
                <h4>{{ mars_data.news_title }}</h4>
                <p>{{ mars_data.news_p }}</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8">            
                <h3>Featured Mars Image</h3>
                <img src="{{ mars_data.featured_image_url}}">
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">            
                        <h4>Current Weather on Mars</h4>
                        <p>{{ mars_data.mars_weather }}</p>
                    </div>
                </div>
                <h4>Mars Facts</h4>
                {{ mars_data.mars_facts  | safe }}
            </div>
        </div>
    </div>

    <div class="container text-center">
        <h3>Mars Hemispheres</h3>
        <hr>
        {% for mars_hemisphere in mars_data.hemisphere_image_urls  %}
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img src="{{ mars_hemisphere['img_url'] }}" alt="{{ mars_hemisphere['title'] }}">
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</body>

</html>
